html, body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-contents: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(180deg, white, 70%, gray);
}

.confetti {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
}

.confetti > canvas {
  height: 100%;
  width: 100%;
}

main {
  margin: auto;
  width: 50%;
  max-width: 80vmin;
}

.logo {
  text-indent: -100vw;
  overflow: hidden;
  background-color: #1c75bc;
  background-image: url(logo.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding-top: 100%;
  line-height: 0;
  border-radius: 50%;
  box-shadow: 0.2em 3em 4em rgba(0, 0, 0, 0.5), 0.2em 3em 8em rgba(0, 0, 0, 0.25);
}
